* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}

/* Fondo de la página */
body {
	background: #7a7979;
	background-size: cover;
}

article {
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	margin: 20px;
}

header {
	min-height: 70px;
	background-color: #B3B5BB;
	color: #fff;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Botones de navegación */
.header-botones {
	background: #B3B5BB;
	display: flex;
	justify-content: center;
}

.header-botones span {
	font-size: 14px;
	padding: 6px 20px;
	border-radius: 5px;
}

.header-botones span:hover {
	background: #333;
	cursor: pointer;
}

.header-botones a {
	color: white;
	text-decoration: none;
}

/* Estilo formulario. */
.centradoPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}
.panelContacto {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
}
h3 {
    margin-bottom: 20px;
    font-size: 17px;
    color: #555;
}
label,textarea {
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

input[type="text"],input[type="number"],input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    width: 100%;
}

.navBarBoton {
    width: 0;
    height: 0;
    overflow: hidden;
}

/* Estilo para resaltar el texto de bienvenida */
.resaltado-info {
	color: #007BFF;
	font-weight: bold;
}

/* Textos del index */
h1, h2 {
	text-align: center;
	color: #333;
}

.texto-grande-inicio {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
	font-size: 40px;
	font-weight: bold;
}

.titulo-prevencion {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 20px 0;
	color: #ff6347;
}

.text-info, .text-prevencion {
	font-size: 16px;
	line-height: 1.6;
	margin: 10px 0;
}

.div-padre-prevencion {
	margin-top: 20px;
}

.resaltado-prevencion {
	background-color: #ffecd1;
	padding: 10px;
	border-radius: 5px;
}

/* Footer */
footer {
	background: linear-gradient(180deg, transparent, #84868d);
	padding: 50px 0;
	color: #333;
	text-align: center;
}

.footer-contenido {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.footer-info, .footer-contacto {
	margin-top: 10px;
	margin-bottom: 20px;
	flex: 1;
	padding: 0 20px;
}

.footer-contenido h3 {
	color: #8c8d91;
	height: 50px;
}

.footer-contenido ul {
	list-style-type: none;
	padding: 0;
}

.footer-contenido a {
	color: #202030;
	text-decoration: none;
	display: block;
	margin-bottom: 5px;
}

.footer-contenido a:hover {
	color: #B3B5BB;
}

.footer-contenido ul li {
	margin-bottom: 10px;
}

.footer-contenido ul li:last-child {
	margin-bottom: 0;
}

/* Estilo de las etiquetas */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #0056b3;
}

/* Estilo de los campos de entrada */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilo de los botones */
button[type="submit"],
button[type="reset"] {
    background-color: #0056b3;
    color: white;
	margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 48%;
    margin-top: 10px;
}

button[type="reset"] {
    background-color: #d9534f;
}

/* Alineación de los botones */
button[type="submit"],
button[type="reset"] {
    display: inline-block;
    text-align: center;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    opacity: 0.9;
}
.botones-form{
	display: flex;}